/* ==========================================================================
   Animations
========================================================================== */

/* Emoji */

@keyframes nod {
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }
}

@keyframes shake {
    25% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-3px);
    }
}

/* ==========================================================================
   Pseudo-classes
========================================================================== */

/* Buttons
========================================================================== */

/* Hover */

.button:hover {
    cursor: pointer;
}

.next-btn:hover {
    background-color: var(--second-bg-color);
    color: var(--second-txt-color);
    border-right: solid var(--second-txt-color) 0.25rem;
    border-bottom: solid var(--second-txt-color) 0.25rem; 
}

.answer-btn:hover {
    background-color: var(--second-bg-color); 
}

/* Clicked */

.button:active {
    transform: translateY(5px);
}

/* Internal Links
========================================================================== */

/* Hover */

.external-link:hover, .internal-link:hover {
    cursor: pointer;
    text-decoration: underline;
}