/* ==========================================================================
   Body Grid Container
========================================================================== */

.body-container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: 2fr 7fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    gap: 3rem; 
}

/* Body Grid Item IDs */

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

.body-item div{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

/* ==========================================================================
   Header Grid Container
========================================================================== */

.header-container {   
    grid-template-areas:
    "heading emoji score time";
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 1fr repeat(2, 2fr);
}

/* Header Grid Item IDs */

#heading {
    grid-area: heading;
}

#emoji {
    grid-area: emoji;
}

#score {
    grid-area: score;
}

#time {
    grid-area: time;
}

/* ==========================================================================
   Main Grid Containers
========================================================================== */

.main-container {
    display: grid;
    width: 75%;
    margin: 0 auto;
}

/* Info Grid Container
========================================================================== */

.info-container {   
    grid-template-areas:
    "info-paragraph"
    "start-quiz-btn";
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr;
}

/* Info Grid Item IDs */

#info-paragraph {
    grid-area: info-paragraph;
}

#start-quiz-btn {
    grid-area: start-quiz-btn;
}

/* Quiz Grid Container
========================================================================== */

.quiz-container {
    grid-template-areas:
    "question question"
    "next-btn next-btn"
    "answer-one answer-two"
    "answer-three answer-four"
    "result result";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

/* Quiz Grid Item IDs */

#question {
    grid-area: question;
}

#question-one {
    grid-area: question-one
}

#question-two {
    grid-area: question-two
}

#question-three {
    grid-area: question-three
}

#question-four {
    grid-area: question-four
}

#next-btn {
    grid-area: next-btn;
}

#result {
    grid-area: result;
}

/* Result Grid Container
========================================================================== */

.result-container {
    grid-template-areas:
    "final-result"
    "name-input"
    "submit-btn"
    "warning";
    grid-template-rows: 3fr repeat(2, 1fr);
    grid-template-columns: 1fr;
}

/* Result Grid Item IDs */

#final-result {
    grid-area: final-result;
}

#name-input {
    grid-area: name-input;
}

#submit-btn {
    grid-area: submit-btn;
}

#warning {
    grid-area: warning;
}

/* High Scores Grid Container
========================================================================== */

.scores-container {
    grid-template-areas:
    "high-scores-heading"
    "output-container";
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 1fr;
}

/* High Scores Grid Item IDs */

#high-scores-heading {
    grid-area: high-scores-heading;
}

#output-container {
    grid-area: output-container;
}

/* High Scores output */

.high-scores-output {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3rem;
}

/* ==========================================================================
   Footer Grid Container
========================================================================== */

.footer-container {
    grid-template-areas:
    "documentation scoreboard";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}

/* Footer Grid Item IDs */

#documentation {
    grid-area: documentation;
}

#scoreboard {
    grid-area: scoreboard
}