/* ==========================================================================
   Screen Width Below 1450px
========================================================================== */

@media only screen and (max-width: 1450px) {

    /* Header Grid Container */

    .header-container {
        grid-template-areas:
        "heading heading heading"
        "score emoji time";
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    .header-container h1 {
        font-size: var(--small-txt);
    }

}

/* ==========================================================================
   Screen Width Below 768px
========================================================================== */

@media only screen and (max-width: 768px) {

    /* Quiz Grid Container */

    .quiz-container {
        grid-template-areas:
        "question"
        "next-btn"
        "answer-one"
        "answer-two"
        "answer-three"
        "answer-four"
        "result";
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: 1fr;
    }

}

/* ==========================================================================
   Screen Width Below 576px
========================================================================== */

@media only screen and (max-width: 576px) {

    /* Header Grid Container */

    .header-container {
        grid-template-areas:
        "heading heading"
        "emoji emoji"
        "score time";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .heading {
        padding: 0.25rem;
     }

     /* Footer Grid Container */

     .footer-container {
        font-size: var(--small-txt);
     }

}