/* ==========================================================================
   All Elements
========================================================================== */

* {
   font-family: Ubuntu;
   line-height: 3rem;
}

/* ==========================================================================
   Header
========================================================================== */

/* Heading */

.heading {
   font-size: var(--largest-txt);
   padding: 1rem;
}

.logo {
   height: clamp(50px, 4vh + 1rem, 750px);
}

/* Emoji */

.emoji {
   height: clamp(100px, 10vh + 1rem, 750px);
}

/* Score & Time Remaining */

.quiz-output {
   font-size: var(--normal-txt);
}

/* ==========================================================================
   Main
========================================================================== */

/* Questions */

.question {
   font-size: var(--normal-txt);
   padding: 1rem;
}

.colored-text {
   color: red;
}

/* Answer Buttons */

.answer-btn {
   width: 75%;
   height: 75%;
   font-size: var(--normal-txt);
   display: none;
}

/* Next Button */

.next-btn {
   width: clamp( 100px, 75%, 300px);
   height: clamp( 50px, 25%, 150px);
}

/* Result Output */

.result {
   display: none;
   font-size: var(--large-txt);
}

/* ==========================================================================
   Footer
========================================================================== */

/* Documentation */

/* View Scores */