/* ==========================================================================
   All Elements
========================================================================== */

* {
   font-family: Ubuntu;
   line-height: 3rem;
}

/* Body */

body {
   background-color: var(--main-bg-color);
}

/* ==========================================================================
   Header
========================================================================== */

/* Heading */

.header-container {
   background-color: var(--second-bg-color);
   color: var(--second-txt-color);
}

.heading {
   font-size: var(--largest-txt);
   padding: 1rem;
}

.logo {
   height: clamp(50px, 4vh + 1rem, 750px);
}

/* Emoji */

.emoji {
   height: clamp(100px, 10vh + 1rem, 750px);
}

/* Score & Time Remaining */

.quiz-output {
   font-size: var(--normal-txt);
   color: var(--main-bg-color);
}

.quiz-output-colored {
   font-size: var(--large-txt);
   color: var(--second-txt-color);
}

/* ==========================================================================
   Main
========================================================================== */

/* Questions */

.text {
   font-size: var(--normal-txt);
   color: var(--main-txt-color);
   padding: 1rem;
}

.colored-text {
   font-size: var(--large-txt);
   color: var(--colored-txt-color);
}

/* Answer Buttons */

.answer-btn {
   width: 75%;
   height: 75%;
   font-size: var(--normal-txt);
   border-right: solid var(--second-txt-color) 0.5rem;
   border-bottom: solid var(--second-txt-color) 0.5rem;
   border-radius: 0.75rem;
   box-shadow: var(--shadow);
}

/* Next Button */

.next-btn {
   width: clamp( 100px, 75%, 300px);
   height: clamp( 50px, 25%, 150px);
   font-size: var(--normal-txt);
   border-right: solid var(--main-txt-color) 0.10rem;
   border-bottom: solid var(--main-txt-color) 0.10rem; 
   background-color: var(--second-txt-color);
   color: var(--main-txt-color);
}

/* Result Output */

.result {
   font-size: var(--large-txt);
   color: var(--colored-txt-color);
}

/* Username Input */

.name-input {
   font-size: var(--large-txt);
   color: var(--second-txt-color);
   text-align: center;
   width: clamp( 100px, 75%, 300px);
   height: clamp( 50px, 25%, 150px);
}

/* High Scores */

.high-scores-heading {
   color: var(--main-txt-color);
   font-size: var(--largest-txt);
}

.high-scores-sub-heading {
   color: var(--second-txt-color);
   font-size: var(--large-txt);
   text-decoration: underline;
   margin: 0 0.25rem;
}

.high-scores-output {
   color: var(--colored-txt-color);
   font-size: var(--large-txt);
   place-self: start center;
}

/* ==========================================================================
   Footer
========================================================================== */

.footer-container {
   font-size: var(--normal-txt);
   background-color: var(--second-bg-color);
   color: var(--second-txt-color);
}