/* ==========================================================================
   All Elements
========================================================================== */

* {
   font-family: Ubuntu;
   line-height: 3rem;
}

/* ==========================================================================
   Header
========================================================================== */

/* Heading */

.heading, .quiz-info {
   font-size: var(--large-txt);
}

.logo {
   height: clamp(50px, 4vh + 1rem, 750px);
}

/* Emoji */

.emoji {
    height: clamp(100px, 10vh + 1rem, 750px);
}

/* Score */



/* Time */

/* ==========================================================================
   Main
========================================================================== */

/* Question */

.question {
   font-size: var(--normal-txt);
}

/* Answer Buttons */

.answer-btn {
    width: 75%;
    height: 75%;
    visibility: hidden;
}

/* Next Button */

.next-btn {
   width: 25%;
   height: 50%;
}

/* ==========================================================================
   Footer
========================================================================== */

/* Documentation */

/* View Scores */